body {
    background-color: #ffe6b4;
    font-family: 'Open Sans Condensed', sans-serif;
}

#header{
    font-family: 'Vollkorn', serif;
    text-align: center;
}

#intro{
    font-size: 25px;
}

input[type="textbox"]{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    width: 100%;
    height: 50px;
    background-color: #ffe6b4;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgreen;
    color: black;
    outline: none;
}

/*hover:input[type="textbox"]{
   border-bottom: 2px solid orange;
}*/

#description {
    font-size: 25px;
    border: 2px solid lightgreen;
    padding-left: 10px;
    display: none;
}

#newsletter{
    font-size: 25px;
}


#theatre {
padding-left: 70px;
font-weight: bold;
}

#pictures{

}

img{
    display: inline;
    width: 500px;
    height: 300px
}

#border{
    float: left;
    position: fixed;
}